# **PACKAGES**

In [23]:
%load_ext autoreload
%autoreload 2

In [11]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

ROOT_DIR = os.getcwd()
if ROOT_DIR.endswith('sendy_scripts'):
    ROOT_DIR = os.path.dirname(ROOT_DIR)
    
os.chdir(ROOT_DIR)

import xgboost as xgb
import utils

.

# **DATA LOADING**

In [42]:
train = pd.read_csv("data/Train.csv")
test = pd.read_csv("data/Test.csv")
riders = pd.read_csv("data/Riders.csv")

In [4]:
train.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

.

# **DATA PREPROCESSING**

## Data Separation

In [43]:
target = train["Time from Pickup to Arrival"]
train.drop("Time from Pickup to Arrival", axis=1, inplace=True)

## Remove NA variables

In [44]:
train.drop(["Precipitation in millimeters"], axis = 1, inplace=True)

## Variables to drop

In [45]:
to_drop = ["Placement - Time", "Arrival at Destination - Time", "Confirmation - Time", "Arrival at Pickup - Time", "Vehicle Type"]

In [46]:
train.drop(to_drop, axis=1, inplace=True)

## One_hot_encoding

In [47]:
not_to_encoded = ["Distance (KM)", "Temperature", "Pickup Lat", "Pickup Long", "Destination Lat", "Destination Long", "Order No"]

In [48]:
train_categorical = train.drop(not_to_encoded, axis=1)

In [49]:
train_categorical = utils.MultiColumnLabelEncoder().fit_transform(train_categorical)

In [50]:
train = pd.concat([train.filter(not_to_encoded, axis=1), train_categorical], axis=1)

In [51]:
train_categorical.head()

,User Id,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Pickup - Day of Month,Pickup - Weekday (Mo = 1),Pickup - Time,Arrival at Destination - Day of Month,Arrival at Destination - Weekday (Mo = 1),Rider Id
0,2839,2,0,8,4,8,4,8,4,8,4,808,8,4,362
1,1212,2,1,11,4,11,4,11,4,11,4,3182,11,4,812
2,1560,2,0,29,1,29,1,29,1,29,1,5342,29,1,61
3,381,2,0,14,4,14,4,14,4,14,4,15247,14,4,811
4,690,0,1,12,0,12,0,12,0,12,0,151,12,0,720

In [52]:
train = pd.concat([train.filter(not_to_encoded, axis=1), train_categorical], axis=1)

In [54]:
train.head().T

,0,1,2,3,4
Distance (KM),4,16,3,9,9
Temperature,20.4,26.4,NaN,19.2,15.4
Pickup Lat,-1.31775,-1.35145,-1.30828,-1.2813,-1.2666
Pickup Long,36.8304,36.8993,36.8434,36.8324,36.7921
Destination Lat,-1.30041,-1.295,-1.30092,-1.25715,-1.29504
Destination Long,36.8297,36.8144,36.8282,36.7951,36.8098
Order No,Order_No_4211,Order_No_25375,Order_No_1899,Order_No_9336,Order_No_27883
User Id,2839,1212,1560,381,690
Platform Type,2,2,2,2,0
Personal or Business,0,1,0,0,1
Placement - Day of Month,8,11,29,14,12
Placement - Weekday (Mo = 1),4,4,1,4,0
Confirmation - Day of Month,8,11,29,14,12
Confirmation - Weekday (Mo = 1),4,4,1,4,0
Arrival at Pickup - Day of Month,8,11,29,14,12
Arrival at Pickup - Weekday (Mo = 1),4,4,1,4,0
Pickup - Day of Month,8,11,29,14,12
Pickup - Weekday (Mo = 1),4,4,1,4,0
Pickup - Time,808,3182,5342,15247,151
Arrival at Destination - Day of Month,8,11,29,14,12
Arrival at Destination - Weekday (Mo = 1),4,4,1,4,0
Rider Id,362,812,61,811,720

.

# **MODELIZATION**

## **XGBOOST**

In [56]:
dtrain = xgb.DMatrix(train.drop("Order No", axis=1), label=target)

/usr/local/anaconda3/envs/Sendy/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/anaconda3/envs/Sendy/lib/python3.7/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \